// Zellij Configuration
// Centrally managed configuration

theme "catppuccin-mocha"
default_shell "pwsh"
on_force_close "quit"
pane_frames false

ui {
    pane_frames {
        rounded_corners true
    }
}
